body{
    margin: 0;
    font-family: "Montserrat", sans-serif
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    color: white;
    z-index: 999;
}
nav h1{
    padding-left: 50px;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
.container-childs{
    height: 100vh;
}
.container-childs h1{
    margin-top: 0;
}
#z1{
    background: url(Images/above-adventure-aerial-air.jpg) center no-repeat fixed;
    background-size: 100vw 120vh;
}
#z2{
    background: url(Images/lion-wild-africa-african.jpg) center no-repeat fixed;
    background-size: 100vw 120vh;
}
#z3{
    background: url(Images/plage.jpg) center no-repeat fixed;
    background-size: 100vw 120vh;
}
#z4{
    background: url(Images/umbrellas.jpg) center no-repeat fixed;
    background-size: 100vw 120vh;
}
#sc1{
    background: linear-gradient(90deg, rgba(0,0,0,0.6271300756630778) 4%, rgba(102,102,102,0.5) 100%);
    color: white;
    padding: 15px;
    width: 30vw;
    height: 50vh;
    position: relative;
    left: 60%;
    top: 20%;
}
#sc2{
    background: linear-gradient(90deg, rgba(0,0,0,0.6271300756630778) 4%, rgba(102,102,102,0.5) 100%);
    color: white;
    padding: 15px;
    width: 50vw;
    height: 30vh;
    position: relative;
    left: 5%;
    top: 30%;
}
#sc3{
    background: linear-gradient(90deg, rgba(0,0,0,0.6271300756630778) 4%, rgba(102,102,102,0.5) 100%);
    color: white;
    padding: 15px;
    width: 30vw;
    height: 50vh;
    position: relative;
    left: 5%;
    top: 20%;
}
#sc4{
    background: linear-gradient(90deg, rgba(0,0,0,0.6271300756630778) 4%, rgba(102,102,102,0.5) 100%);
    color: white;
    padding: 15px;
    width: 30vw;
    height: 50vh;
    position: relative;
    left: 60%;
    top: 20%;
}